<!DOCTYPE html>
<html>
<head>
    <title>Pyton Flask-MySql Registraion, Login With Session</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-md bg-light navbar-light">
    <div class='container'>
        <!-- Brand -->
        <a class="navbar-brand" href="/">Flask-MySql Registraion, Login</a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ml-auto">
            {% if session.username %}
                <li class="nav-item">
                <a class="nav-link" href="/home">Welcome : {{session.username}}</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
                </li>
            {% else %}
                <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
            <a class="nav-link" href="/reg">Registration</a>
            <a class="nav-link" href="/contactus">Contact us</a>
            <a class="nav-link" href="/Trainstatus">Train details</a>
            <a class="nav-link" href="/order">Food Order</a>
            </li>
            {% endif %}
        </ul>
        </div>
    </div>
    </nav>
    <div class='container mt-4'>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% endwith %}
    
    {% block body %}

    {% endblock %}
    </div>
</body>
</html>