
{% extends 'layout.html' %}
{% block body %}
    <div class='row mt-5'>
    <div class='col-4 mx-auto'>
        <h4 class='text-center'>User Registration</h4><hr>
        <form action="{{url_for('reg')}}" method='post'>
        <div class='form-group'>
            <label>UserName</label>
            <input type='text' name='UserName' required class='form-control'>  
        </div>
        <div class='form-group'>
            <label>Password</label>
            <input type='password' name='passwords' required class='form-control'>  
        </div>
        <div class='form-group'>
            <label>Confirm Password</label>
            <input type='password' name='confirm' required class='form-control'>  
        </div>
        <div class='form-group'>
            <label>Language</label>
            <input type='text' name='lang' required class='form-control'>  
        </div>
        <div class='form-group'>
            <label>First Name</label>
            <input type='text' name='firstname' required class='form-control'>  
        </div>
        <div class='form-group'>
            <label>LastName</label>
            <input type='text' name='lastname' required class='form-control'>  
        </div>
        <div class='form-group'>
            <label>Nationality</label>
            <input type='text' name='nationality' required class='form-control'>  
        </div>
        <div class='form-group'>
            <label>State</label>
            <input type='text' name='state' required class='form-control'>  
        </div>
        <input type='submit' name='submit' value='Submit' class='btn btn-success'>
        </form>
    </div>
</div>
{% endblock %}